/*#App {*/
/*    position: relative;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-image: url('./hoPic.jpeg');*/
/*    background-size: auto;*/
/*    background-position: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    min-height: 100vh;*/
/*    padding: 1em;*/
/*    box-sizing: border-box;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*}*/

/*.logo {*/
/*    position: absolute;*/
/*    top: 14%;*/
/*    right: 10px;*/
/*    width: 365px;*/
/*    height: 300px;*/
/*    transform: translateY(-50%);*/
/*}*/

/*.display-container {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*!* הוספת סגנונות לטקסט של TitlePop *!*/
/*#TitlePop {*/
/*    font-size: 1.5em;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*    margin-bottom: 20px;*/
/*}*/

/*.flex-display {*/
/*    display: flex;*/
/*}*/

/*.flex-column {*/
/*    flex-direction: column;*/
/*}*/

/*.justify-center {*/
/*    justify-content: center;*/
/*}*/

/*.align-start {*/
/*    align-items: flex-start;*/
/*}*/

/*.bg-semi-transparent {*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*}*/

/*.transition-bg {*/
/*    transition: background-color 0.3s ease-in-out;*/
/*}*/

/*.bg-cover {*/
/*    background-size: cover;*/
/*}*/

/*.bg-center {*/
/*    background-position: center;*/
/*}*/

/*.table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

/*.table th, .table td {*/
/*    padding: 12px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*}*/

/*.table th {*/
/*    background-color: #f2f2f2;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*}*/

/*.table tr:hover {*/
/*    background-color: #f5f5f5;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*}*/

/*#keyword {*/
/*    width: 100%;*/
/*    padding: 12px;*/
/*    border: 1px solid #ccc;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*    border-radius: 4px;*/
/*    resize: vertical;*/
/*}*/

/*.job-table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

/*.job-table th,*/
/*.job-table td {*/
/*    min-width: 100px;*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*    word-break: break-word;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*    border-bottom: 1px solid #e9ecef;*/
/*}*/

/*.job-table th {*/
/*    color: #141427;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*}*/

/*.job-table tr:nth-child(even) {*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*}*/

/*.job-table tr:hover {*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*}*/


/*.job-information-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.job-information {*/
/*    flex: 1;*/
/*    transition: opacity 0.3s ease-in-out;*/
/*}*/

/*.links a {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    transition: color 0.3s ease-in-out;*/
/*}*/

/*.links a:hover {*/
/*    color: #ff5722;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*}*/

/*select {*/
/*    width: 200px;*/
/*    margin-right: 10px;*/
/*}*/

/*#buttonViewInformation {*/
/*    position: relative;*/
/*    top: 0;*/
/*}*/

/*.spinner {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*.job-table td {*/
/*    height: 100px;*/
/*    overflow: auto;*/
/*    padding: 10px;*/
/*    border: 1px solid #ddd;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*}*/

/*.select-input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #ddd;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*    border-radius: 4px;*/
/*}*/

/*.input-text {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px 0;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #ddd;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/

/*    border-radius: 4px;*/
/*}*/

/*textarea {*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    left: 10px;*/
/*    width: 200px;*/
/*    height: 100px;*/
/*}*/

/*.buttonCheckCustJob {*/
/*    position: absolute;*/
/*    top: 310px;*/
/*    left: 10px;*/
/*}*/

/*.TitleSearch {*/
/*    font-size: 2em;*/
/*    color: #4CAF50;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    background-color: rgba(90, 90, 90, 0.8);*/
/*    margin-bottom: 20px;*/
/*}*/

/*.App-menu a {*/
/*    margin-right: 20px;*/
/*}*/

/*.App-menu a.active {*/
/*    color: blue;*/
/*    font-weight: bold;*/

/*}*/

/*.buttonApp {*/
/*    background-color: #4c68af;*/
/*    background-image: linear-gradient(135deg, #4c68af 0%, #8e54e9 100%);*/
/*    border: none;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 18px;*/
/*    margin: 4px 2px;*/
/*    transition-duration: 0.4s;*/
/*    cursor: pointer;*/
/*    border-radius: 12px;*/
/*    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.15);*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 200px;*/
/*    padding: 15px 30px;*/
/*    height: 50px;*/
/*    line-height: 1.5;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1px;*/
/*}*/

/*.buttonApp:hover {*/
/*    background-color: #5e72b8;*/
/*    transform: translateY(-2px);*/
/*}*/

/*.buttonApp:active {*/
/*    background-color: #435a9f;*/
/*    transform: translateY(2px);*/
/*}*/

/*.buttonApp:nth-child(1) {*/
/*    top: 10px;*/
/*}*/

/*.buttonApp:nth-child(2) {*/
/*    top: 70px;*/
/*}*/

/*.buttonApp:nth-child(3) {*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    font-size: 20px;*/
/*    top: 130px;*/
/*}*/

/*.buttonApp:hover {*/
/*    background-color: #2c3e50;*/
/*    color: #ecf0f1;*/
/*}*/

/*.buttonApp:active {*/
/*    background-color: #2c3e50;*/
/*    color: #ecf0f1;*/
/*}*/

/*.scroll-downs {*/
/*    position: absolute;*/
/*    bottom: 50%;*/
/*    left: 10px;*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    transform: translate(-50%, -50%);*/
/*    animation: bounce 2s infinite, fadeOut 2s infinite;*/
/*}*/

/*@keyframes bounce {*/
/*    0%, 20%, 50%, 80%, 100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    40% {*/
/*        transform: translateY(-15px);*/
/*    }*/
/*    60% {*/
/*        transform: translateY(-7px);*/
/*    }*/
/*}*/

/*@keyframes fadeOut {*/
/*    0%, 100% {*/
/*        opacity: 1;*/
/*    }*/
/*    50% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*.mousey {*/
/*    width: 3px;*/
/*    padding: 10px 15px;*/
/*    height: 35px;*/
/*    border: 2px solid white;*/
/*    border-radius: 25px;*/
/*    opacity: 0.75;*/
/*    box-sizing: content-box;*/
/*}*/

/*.scroller {*/
/*    width: 3px;*/
/*    height: 10px;*/
/*    border-radius: 25%;*/
/*    background-color: white;*/
/*    animation-name: scroll;*/
/*    animation-duration: 2.2s;*/
/*    animation-timing-function: cubic-bezier(1,0,0,1);*/
/*    animation-iteration-count: infinite;*/
/*}*/

/*.scroll {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*    width: 48px;*/
/*    height: 92px;*/
/*}*/

/*@keyframes scroll {*/
/*    0% { opacity: 0; }*/
/*    10% { transform: translateY(0); opacity: 1; }*/
/*    100% { transform: translateY(15px); opacity: 0;}*/
/*}*/

/*.labelText {*/
/*    font-size: 1.3em; !* הגדלת גודל הגופן להדגשה *!*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 4px #000000; !* הגדלת הצללה לטקסט *!*/
/*    text-align: center;*/
/*    padding: 9px; !* הגדלת ריפוד פנימי *!*/
/*    background-color: rgba(60, 60, 60, 0.8); !* הכהיית צבע הרקע *!*/
/*    border: 2px solid #444; !* הוספת גבול דק כהה *!*/
/*    border-radius: 5px; !* עיגול הפינות מעט *!*/
/*    margin-bottom: 30px; !* הגדלת השוליים התחתונים *!*/
/*    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); !* הוספת צל תלת-ממדי *!*/
/*}*/


/*.tdShowSum {*/
/*    font-size: 1.1em;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    background-color: rgba(90, 90, 90, 0.54);*/
/*    margin-bottom: 20px;*/
/*}*/

/*.job-information {*/
/*    width: 80%;*/
/*    margin: auto;*/
/*    padding: 20px;*/
/*    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.job-details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.keywords {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    width: 100%;*/
/*}*/

/*.common-keywords, .missing-keywords, .all-keywords {*/
/*    width: 30%;*/
/*}*/

/*.name-right-job {*/
/*    text-align: center;*/
/*}*/

/*.job-information-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.links-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.the-right-job table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

/*.the-right-job table, .the-right-job th, .the-right-job td {*/
/*    border: 1px solid #ddd;*/
/*}*/

/*.the-right-job th, .the-right-job td {*/
/*    padding: 15px;*/
/*    text-align: left;*/
/*}*/

/*.the-right-job tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

/*.keywords-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.keywords-container div {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.keywords-container p {*/
/*    font-size: 1.2em;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*}*/

/*.title {*/
/*    font-size: 2em;*/
/*    color: #333;*/
/*}*/

/*.job-name {*/
/*    font-size: 1.5em;*/
/*    color: #666;*/
/*}*/

/*.common-keywords, .missing-keywords {*/
/*    width: 45%;*/
/*}*/

/*.pOfTheRight {*/
/*    font-size: 1.1em;*/
/*    color: #ffffff;*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    background-color: rgba(90, 90, 90, 0.54);*/
/*    margin-bottom: 20px;*/
/*}*/

/*#WebTitle {*/
/*    font-size: 1.7em;*/
/*    color: #ffffff; !* צבע טקסט לבן *!*/
/*    text-shadow: 2px 2px 2px #000000;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    background-color: #3498db; !* צבע כחול *!*/
/*    margin-bottom: 20px;*/
/*    position: relative; !* הוספתי מאפיין position *!*/
/*    top: -50px; !* שיניתי את הערך כדי לכוון למעלה *!*/
/*}*/

/*.form-control {*/
/*    width: 50%;*/
/*    padding: 15px;*/
/*    margin: 20px 0;*/
/*    box-sizing: border-box;*/
/*    border: 1px solid #444444;*/
/*    background-color: rgba(60, 60, 60, 0.8);*/
/*    border-radius: 6px;*/
/*    color: #ffffff;*/
/*    text-shadow: 1px 4px 5px rgb(20, 20, 39);*/
/*    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);*/
/*}*/



/*.btn-success.btn-block {*/
/*    !* מראה כללי *!*/
/*    background-color: #4CAF50; !* ירוק מלכותי *!*/
/*    background-image: linear-gradient(135deg, #4CAF50 0%, #8E54E9 100%); !* גרדיאנט ירוק-סגול *!*/
/*    border: none; !* ללא גבול *!*/
/*    color: #ffffff; !* טקסט לבן *!*/
/*    text-shadow: 2px 2px 4px #000000; !* צללה לטקסט *!*/
/*    font-size: 16px; !* גודל גופן 16px *!*/
/*    padding: 10px 20px; !* ריפוד פנימי 10px 20px *!*/
/*    border-radius: 5px; !* פינות מעוגלות *!*/
/*    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); !* צל תלת-ממדי *!*/
/*    cursor: pointer; !* סמן עכבר רלוונטי *!*/
/*    transition: all 0.3s ease-in-out; !* אנימציות מעבר חלקות *!*/

/*    !* מראה בעת מעבר עכבר *!*/
/*    &:hover {*/
/*        background-color: #5e72b8; !* גוון כחול עמוק יותר *!*/
/*        transform: translateY(-2px); !* הרמה קלה *!*/
/*    }*/

/*    !* מראה בעת לחיצה *!*/
/*    &:active {*/
/*        background-color: #435a9f; !* כחול עשיר *!*/
/*        transform: translateY(2px); !* הורדה קלה *!*/
/*    }*/

/*    !* מראה בעת נטרול *!*/
/*    &:disabled {*/
/*        background-color: #a5a5a5; !* אפור בהיר *!*/
/*        cursor: not-allowed; !* סמן עכבר מתאים למצב לא פעיל *!*/
/*    }*/
/*}*/

/*.form-group.files label {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    border: 1px solid #ccc;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*    color: #666;*/
/*    background-color: #fff;*/
/*    cursor: pointer;*/
/*}*/

/*.form-group.files label:hover {*/
/*    color: #000;*/
/*}*/

/*.form-group.files input[type="file"] {*/
/*    visibility: hidden;*/
/*    display: none;*/
/*}*/
/*body, html {*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: auto;*/
/*}*/
#App-App {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../hoPic.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    overflow: hidden; /* מניעת חריגה של התוכן מהאלמנט */
}

.App-logo {
    position: absolute;
    top: 14%;
    right: 10px;
    width: 365px;
    height: 300px;
    transform: translateY(-50%);
    transition: transform 0.5s ease-in-out;
}

.App-logo:hover {
    transform: translateY(-50%) rotate(360deg);
}

.App-display-container {
    position: relative;
    width: 100%;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.App-scroll-downs {
    position: absolute;
    bottom: 50%;
    left: 10px;
    width: 48px;
    height: 48px;
    transform: translate(-50%, -50%);
    animation: bounce 2s infinite, fadeOut 2s infinite;
}

.App-mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid white;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.App-scroll {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: white;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-iteration-count: infinite;
}


.App-buttonApp {
    background-color: #4c68af;
    background-image: linear-gradient(135deg, #4c68af 0%, #8e54e9 100%);
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 200px;
    padding: 15px 30px;
    height: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.App-buttonApp:hover {
    background-color: #5e72b8;
    transform: translateY(-2px);
}

.App-buttonApp:active {
    background-color: #435a9f;
    transform: translateY(2px);
}

.App-buttonApp:nth-child(1) { /* כפתור Menu */
    top: 3px;
    left: 0;
}

.App-buttonApp:nth-child(2) { /* כפתור Custom */
    top: 3px;
    left: 420px;
}

.App-buttonApp:nth-child(3) { /* כפתור Search */
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    top: 3px;
    left: 210px;
}
.App-aboutLogo {
    position: absolute;
    top: 30px;
    left: 640px;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);
    transition: transform 0.5s ease-in-out;
}
.App-aboutLogo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.App-buttonApp:hover {
    cursor: pointer;
    opacity: 0.7;
}


.App-buttonApp:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.App-buttonApp:active {
    background-color: #2c3e50;
    color: #ecf0f1;
}






