
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tr:hover {
    background-color: #f5f5f5;
}

#keyword {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.job-table {
    width: 100%;
    border-collapse: collapse;
}

.job-table th,
.job-table td {
    padding: 8px;
    text-align: left;
    word-break: break-word;
}

.job-table th {
    background-color: #f2f2f2;
}

.job-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.job-table tr:hover {
    background-color: #eaeaea;
}

.job-information-container {
    display: flex;
    flex-direction: row;
}

.job-information {
    flex: 1;
    transition: opacity 0.3s ease-in-out;
}

.links-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: opacity 0.3s ease-in-out;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.links a {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #ff5722;
}

.backPicWeb {
    position: relative;
}

.picWeb {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.display-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


}

.name-right-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.popWord {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.TitleMostJob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(90, 90, 90);
    transition: background-color 0.3s ease-in-out;

}

#TitlePop {


    color: white;
    transition: background-color 0.3s ease-in-out;
}

#nameOfFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2px;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(20, 20, 39);
    transition: background-color 0.3s ease-in-out;
}

.spinner {
    width: 50px;
    height: 50px;
}

.job-table td {
    height: 100px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ddd;
}





