#App {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./picForCvProj.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
    padding: 1em; /* Add some padding around the content */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
}
.logo {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 480px; /* Adjust this value to fit your needs */
    height: 360px; /* Adjust this value to fit your needs */
    transform: translateY(-50%); /* Centers the logo vertically */
}

.display-container {
    position: relative;
    width: 100%;
    color: #141427;
    text-shadow: 2px 2px 4px rgba(90, 90, 90, 0.47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}


.flex-display {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: flex-start;
}

.bg-semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.transition-bg {
    transition: background-color 0.3s ease-in-out;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f5f5f5;
}

#keyword {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.job-table {
    width: 100%;
    border-collapse: collapse;
}

.job-table th,
.job-table td {
    min-width: 100px;
    padding: 8px;
    text-align: left;
    word-break: break-word;
    /*max-height: 150px; !* Adjust this value to fit your needs *!*/
    /*overflow: auto;*/
}

.job-table th {
    background-color: #f2f2f2;
}
.job-table ul {
    max-height: 200px; /* Adjust this value to fit your needs */
    overflow: auto;
}

.job-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.job-table tr:hover {
    background-color: #eaeaea;
}

.job-information-container {
    display: flex;
    flex-direction: row;
}

.job-information {
    flex: 1;
    transition: opacity 0.3s ease-in-out;
}

.links a {
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #ff5722;
}

#Jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Adds space between the items */
    padding: 20px; /* Adds space around the items */
    background-color: #f5f5f5; /* Changes the background color */
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adds a shadow */
}

#TitlePop {
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.spinner {
    width: 50px;
    height: 50px;
}

.job-table td {
    height: 100px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ddd;
}

.select-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.TitleSearch {
    font-size: 2em;
    color: #4CAF50;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.App-menu a {
    margin-right: 20px;
}

.App-menu a.active {
    color: blue;
    font-weight: bold;
}
.buttonApp {
    background-color: #4c68af;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.buttonApp:hover {
    background-color: #3e8e41;
    color: white;
}

.buttonApp:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.scroll-downs {
    position: absolute;
    bottom: 50%;
    left: 10px; /* Move the arrows to the left side of the screen */
    width: 48px; /* Adjust this value to fit your needs */
    height: 48px; /* Adjust this value to fit your needs */
    transform: translate(-50%, -50%);
    animation: bounce 2s infinite, fadeOut 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

@keyframes fadeOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid white;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: white;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-iteration-count: infinite;
}
.scroll {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 48px; /* Adjust this value to fit your needs */
    height: 92px; /* Adjust this value to fit your needs */
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.labelText{
    font-size: 1.1em;
    color: #141427;
    text-align: center;
    padding: 10px;
    background-color: rgba(90, 90, 90, 0.54);
    margin-bottom: 20px;
}
.tdShowSum{
    font-size: 1.1em;
    color: #141427;
    text-align: center;
    padding: 10px;
    background-color: rgba(90, 90, 90, 0.54);
    margin-bottom: 20px;
}

.job-information {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.job-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keywords {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.common-keywords, .missing-keywords, .all-keywords {
    width: 30%;
}

/*.the-right-job {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding: 20px;*/
/*}*/

.name-right-job {
    text-align: center;
}
.job-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: space-between;
}
.the-right-job table {
    width: 100%;
    border-collapse: collapse;
}

.the-right-job table, .the-right-job th, .the-right-job td {
    border: 1px solid #ddd;
}

.the-right-job th, .the-right-job td {
    padding: 15px;
    text-align: left;
}

.the-right-job tr:nth-child(even) {
    background-color: #f2f2f2;
}
.keywords-container {
    display: flex;
    justify-content: space-between;
}
.keywords-container div {
    margin-bottom: 20px;
}

.keywords-container p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.title {
    font-size: 2em;
    color: #333;
}

.job-name {
    font-size: 1.5em;
    color: #666;
}

.keywords {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.common-keywords, .missing-keywords {
    width: 45%;
}
.pOfTheRight {
    font-size: 1.1em;
    color: #141427;
    text-align: center;
    padding: 10px;
    background-color: rgba(90, 90, 90, 0.54);
    margin-bottom: 20px;
}
